/*

Monosaccharide Grid

*/


.monosaccharide-name {
    text-align: center;
}


.monosaccharide-row input{
    width: 90px;
    margin-bottom: 0px !important;
}

.monosaccharide-row .input-field{
    margin-top: 2px !important;
    margin-right: 0px !important;
    padding: 0px !important;
}

.monosaccharide-row.warning input, .monosaccharide-row input:invalid, .monosaccharide-constraints-row input:invalid{
    color: red;
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}

.monosaccharide-row {
    margin-bottom: 2px !important;
}

.monosaccharide-constraints-row .input-field select::before {
    margin: 5px;
}

.monosaccharide-constraints-row .input-field{
    margin-top: 2px !important;
    margin-right: 0px !important;
    padding: 0px !important;
}

.monosaccharide-constraints-row .warning input{
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}

.monosaccharide-constraints-row {
    margin-bottom: 2px !important;
}

.monosaccharide-constraints-row input {
    width: 90px;
    margin-bottom: 0px !important;
}

.constrained-value-cell{
    margin-left: 5px !important;
}

.constrained-value {
    width: 125px !important;
}
