.project-name {
    font-weight: 900;
    font-size: 1.2em;
    padding-left: 1em;
}

.project-container {
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    padding: 4px;
}

.project-list-view {
    border: 1px solid grey;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: scroll;
}

.project-container button{
    background-color: white !important;
    color: grey;
    padding-left: 5%;
    padding-right: 5%;
}

/*
    Sample Analysis Tree List
 */

.project-item {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

.analysis-entry-list:not(:last-child) {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

.analysis-entry-item {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    padding-left: 15px;
}

.project-sample-name {
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 1.0em;
    cursor: pointer;
}

.project-analysis-name {
    font-family: Inconsolata;
    font-size: 0.9em;
    cursor: pointer;
}

.expanded-display-control {
    cursor: pointer;
}

.expanded-display-control i {
    font-size: 22px;
    position: relative;
    top: 5;
}