@font-face {
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


code, pre {
    font-family: Inconsolata, monospace !important;
}


.handle {
    cursor: hand;
    margin: 0px !important;
}


.list-item {
    border-bottom: 1px lightgrey solid;
}


.no-shadow {
    box-shadow: none !important;
}


.narrow-btn {
    padding-left: 12px !important;
    padding-right: 12px !important;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


#save-csv-file {
    line-height: 18px;
}


.user-provided-name {
    word-break: break-all;
}


.protein-name {
    padding-left: 20px;
    display: inline-block;
    width: 300px;
    word-break: break-all;
}


.monosaccharide-composition-name {
    padding: 2px;
    border-radius: 2px;
    word-break: keep-all;
    display: inline-block;
    margin-top: 3px;
}


/*

Form Elements

*/

.file-format-radio {
    position: relative !important;
    left: 80px !important;
}


.modification-selection {
    height: 100px;
}

.help-text{
    vertical-align: bottom;
}

.add-sample{
    cursor: hand;
}

/*

Sequence Highlights

*/

.glycosylation-site {
    font-weight: 900;
    color: maroon;
}

/*

Protein Overview Graphic

*/

.protein-view-tooltip {
    background-color: white;
    padding: 10px 20px;
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 4px;
    opacity: 0.9;
}


/*

Navigation

*/

.side-nav.fixed {
    padding-left: 5px;
    width: 13%;
}

.task-list-container ul li {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 3px;
    margin-bottom: 2px;
    line-height: 1em;
    font-size: 1em;
}

.task-display {
    cursor: pointer;
}

/*

Mass Shift Input

*/

.mass-shift-row input{
    width: 125px;
    margin-bottom: 0px !important;
}

.mass-shift-row .input-field{
    margin-top: 4px !important;
}

.mass-shift-row {
    margin-bottom: 4px !important;
}

.mass-shift-input-table{
    margin-top: -2.5%;
}

.section-title {
    font-weight: 400;
    color: #9e9e9e;
}

/*

Monosaccharide Filters

*/

#monosaccharide-filters {
    margin-bottom: -20px;
}

.monosaccharide-filter {
    display: inline-block !important;
    width: 130px !important;
}


/*

Simple Numeric Entry

*/

.numeric-entry {
    font-size: 1.3em;
    width: 150px;
    text-align: center;
}

/*

Peptide Sequence Display

*/

.peptide-sequence-cell {
    word-break: break-all !important;
    word-spacing: 0.01em !important;
}

#figure_1 > #patch_1{
    display: none;
}

.compact-label {
    line-height: 15px !important;
}

select:invalid {
    border-color: red !important;
    border-width: 3px  !important;
    border-style: dashed;
}

.simple-figure {
    margin-left: 30%;
    margin-right: 25%;
}