.table-container {
    overflow-x: scroll;
    width: 100%;
}


.active-row {
    font-weight: 900;
}

/*

Protein Match Table

*/

.protein-match-table th, .protein-match-table td {
    width: 180px;
    padding: 5px;
}

.protein-match-table thead, .protein-match-table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.protein-match-table tbody tr{
    cursor: hand;
}

.protein-match-table tbody tr:hover{
    background: whitesmoke;
}

.protein-match-cell {
    text-align: left;
    padding: 5px;
}


/*

Protein List Table

*/

.protein-list-table {
    width: 350px;
}

.protein-list-table th, .protein-list-table td {
    width: 180px;
    padding: 5px;
}

.protein-list-table thead, .protein-list-table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.protein-list-table tbody tr{
    cursor: hand;
}

.protein-list-table tbody tr:hover{
    background: whitesmoke;
}


.protein-list-cell {
    text-align: left;
    padding: 5px;
}


/*

Display Table

*/

.display-table th, .display-table td {
    min-width: 90px;
    max-width: 90px;
    padding: 3px;
    border-left: 1px lightgrey solid;
    font-size: 0.7em;
    text-align: center;
}

.display-table th.wide, .display-table td.wide {
    min-width: 150px;
    max-width: 150px;
    word-break: break-all;
}

.display-table th.medium-wide, .display-table td.medium-wide {
    min-width: 250px;
    max-width: 250px;
    word-break: break-all;
}

.display-table th.very-wide, .display-table td.very-wide {
    min-width: 350px;
    max-width: 350px;
    word-break: break-all;
}

.display-table thead, .display-table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.display-table th.narrow, .display-table td.narrow {
    min-width: 70px;
    max-width: 70px;
    word-break: break-all;
}

.display-table tbody tr:hover{
    background: whitesmoke;
}

.display-table td {
    cursor: pointer;
}

.fragment-ion-table td, .fragment-ion-table th {
    font-size: .7em;
    padding: 3px !important;
    word-break: break-all;
}


/*

Pagination

*/


.previous-page, .next-page {
    cursor: pointer;
}


/*

Glycopeptide Match Table

*/

.glycopeptide-match-table th, .glycopeptide-match-table td {
    min-width: 90px;
    max-width: 90px;
    padding: 3px;
    border-left: 1px lightgrey solid;
    font-size: 0.7em;
    text-align: center;
}

.glycopeptide-match-table th.wide, .glycopeptide-match-table td.wide {
    min-width: 150px;
    max-width: 150px;
    word-break: break-all;
}


.glycopeptide-match-table th.medium-wide, .glycopeptide-match-table td.medium-wide {
    min-width: 225px;
    max-width: 225px;
    word-break: break-all;
}

.glycopeptide-match-table th.very-wide, .glycopeptide-match-table td.very-wide {
    min-width: 350px;
    max-width: 350px;
    word-break: break-all;
}

.glycopeptide-match-table thead, .glycopeptide-match-table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.glycopeptide-match-table th.narrow, .glycopeptide-match-table td.narrow {
    min-width: 70px;
    max-width: 70px;
    word-break: break-all;
}

.glycopeptide-match-table tbody tr:hover{
    background: whitesmoke;
}

.glycopeptide-match-table td {
    cursor: pointer;
}

.fragment-ion-table td, .fragment-ion-table th {
    font-size: .7em;
    padding: 3px !important;
    word-break: break-all;
}

.fragment-ion-table tbody tr:hover{
    background: whitesmoke;
}


.oxonium-ion-table td, .oxonium-ion-table th {
    font-size: .7em;
    padding: 3px !important;
    word-break: break-all;
}

.oxonium-ion-table tbody tr:hover{
    background: whitesmoke;
}

.glycosite-summary-table tbody td{
    padding:5px !important;
}

.glycosite-summary-table tbody tr:hover{
    background: whitesmoke;
}