<h4 class='section-title'>Match Hypothesis Against Tandem Samples</h4>
<div class='row'>
    <form id='match-sample-form' action="/search_glycopeptide_sequences/run_search" class="col s12" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <div class='col s6'>
            {% include "components/sample_selection.templ" %}
        </div>
        <div class='row'>
            <div class='input-field col s6'>
                <label for="hypothesis_choice">Choose a Hypothesis</label>
                <br>
                <select id="hypothesis_choice" name="hypothesis_choice" required class='browser-default'>
                    {% for hypothesis in manager.glycopeptide_hypotheses(user) %}
                        <option value="{{hypothesis.uuid}}">{{hypothesis.name}}</option>
                    {% endfor %}
                </select>
                <div id="search-strategy-display">

                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s2'>
                <div class='input-field '>
                    <label for='ms1-tolerance'>MS<sup>1</sup> Mass PPM Error Tolerance</label>
                    <input type='number' value='10' id='ms1-tolerance' name='ms1-tolerance' class='numeric-entry' />
                </div>
                <div class='input-field '>
                    <label for='q-value-threshold'><code>q</code>-Value Threshold</label>
                    <input class='numeric-entry' type='number' value='0.05' id='q-value-threshold'
                        name='q-value-threshold' step='0.01' />
                </div>
                <div class='input-field'>
                    <label for='batch-size'>Spectrum Batch Size</label>
                    <input class='numeric-entry' type='number' value='250' id='batch-size'
                        name='batch-size' min="1" />
                </div>
                <div class='input-field'>
                    <label for='minimum-search-mass'>Minimum Search Mass</label>
                    <input class='numeric-entry-inf' type='text' value='1000' id='minimum-search-mass' name='minimum-search-mass'
                           pattern="\d+|\d+\.\d+|infinity|inf|Inf|INF|Infinity" title="A number or the key word 'Infinity'"/>
                </div>
                <div class='input-field'>
                    <label for='maximum-search-mass'>Maximum Search Mass</label>
                    <input class='numeric-entry-inf' type='text' value='Infinity' id='maximum-search-mass' name='maximum-search-mass'
                        pattern="\d+|\d+\.\d+|infinity|inf|Inf|INF|Infinity" title="A number or the key word 'Infinity'" />
                </div>
            </div>
            <div class='col s2'>
                <div class='input-field'>
                    <label for='peak-grouping-tolerance'>Peak Grouping PPM Error Tolerance</label>
                    <input class='numeric-entry' type='number' value='15' id='peak-grouping-tolerance' name='peak-grouping-tolerance' />
                </div>
                <div class='input-field'>
                    <label for='minimum-oxonium-threshold'>Minimum Oxonium Threhsold</label>
                    <input class='numeric-entry' type='number' value='0.05' id='minimum-oxonium-threshold'
                        name='minimum-oxonium-threshold' step='0.01' />
                </div>
                <div>
                    <label for='msn-scoring-model'>MSn Scoring Model</label>
                    <select class='browser-default' id='msn-scoring-model' name='msn-scoring-model'>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class='col s2'>
                <div class="input-field">
                    <label for='ms2-tolerance'>MS<sup>2</sup> Mass PPM Error Tolerance</label>
                    <input type='number' value='20' id='ms2-tolerance' name='ms2-tolerance' class='numeric-entry'>
                </div>
                <div class='input-field'>
                    <input type="checkbox" id="peptide-mass-filter" name="peptide-mass-filter" />
                    <label for='peptide-mass-filter' class=''>Use Peptide Mass Filter</label>
                </div>
                <div class='input-field'>
                    <input type="checkbox" id="permute-decoy-glycan-fragments" name="permute-decoy-glycan-fragments" />
                    <label for='permute-decoy-glycan-fragments' class='compact-label'>Permute Decoy Glycan Fragments</label>
                </div>
                <div class='input-field'>
                    <input type="checkbox" id="include-rare-signature-ions" name="include-rare-signature-ions" />
                    <label for='include-rare-signature-ions' class='compact-label'>Include Rare Signature Ions</label>
                </div>
                <div class='input-field'>
                    <input type="checkbox" id="model-retention-time" name="model-retention-time" checked />
                    <label for='model-retention-time' class='compact-label'>Model Retention Time</label>
                </div>
            </div>
            <div class='col s6'>
                <div class='row'>
                    <div class='mass-shift-input-table col s12'>
                        <div class='section-title' style='margin-left: 25%;'>Variable Adducts</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <button class='btn'>Submit</button>
    </form>
<script>

function updateScoringModelOptionsFromHypothesisType() {
    const hypothesisChoiceInput = document.querySelector("#hypothesis_choice")
    const hypothesisId = hypothesisChoiceInput.value
    const hypothesis = GlycReSoft.hypotheses[hypothesisId]
    let scoringOptions = []
    if (!hypothesis.isFullCrossproduct()) {
        scoringOptions = [
            new Option("Intensity", "log_intensity"),
            new Option("Reweighted Intensity", "log_intensity_v3", true, true)
        ]
    } else {
        scoringOptions = [
            new Option("Binomial", "coverage_weighted_binomial", true, true),
            new Option("Intensity", "log_intensity"),
            new Option("Peptide Binomial", "peptide_only_cw_binomial"),
            new Option("Reweighted Intensity", "log_intensity_v3")
        ]
    }
    const scoringModelSelect = document.querySelector("#msn-scoring-model")
    Array.from(scoringModelSelect.children).map(c => scoringModelSelect.removeChild(c))
    scoringOptions.map(c => scoringModelSelect.appendChild(c))
}

function updatePeptideMassFilterForFullCrossproduct() {
    const hypothesisChoiceInput = document.querySelector("#hypothesis_choice")
    const peptideMassFilterInput = document.querySelector("#peptide-mass-filter")
    const wasChecked = peptideMassFilterInput.checked
    const hypothesisId = hypothesisChoiceInput.value
    const hypothesis = GlycReSoft.hypotheses[hypothesisId]
    const searchStrategyDisplay = document.querySelector("#search-strategy-display")
    if (!hypothesis.isFullCrossproduct()) {
        peptideMassFilterInput.checked = true
        searchStrategyDisplay.innerHTML = `<span class='red-text' style='font-size: small;'>
            The hypothesis selected uses the fast indexed joint search algorithm. It <em>requires</em>
            the peptide mass filter and will control the FDR on both the peptide and glycan portions separately
            and jointly.
        </span>`
    } else if (hypothesis.hasDecoyDatabase()) {
        searchStrategyDisplay.innerHTML = `<span class='red-text' style='font-size: small;'>
            The hypothesis selected uses a separate reverse-protein decoy database instead of the original reverse-peptide
            decoy search strategy. This may be more permissive on a small database, while providing a more accurate
            FDR estimate in general on a large database.
        </span>`
    } else {
        searchStrategyDisplay.innerHTML = `<span class='red-text' style='font-size: small;'>
            The hypothesis selected uses the original reverse-peptide decoy search strategy. It may be biased against
            glycopeptides which produce predominantly peptide+Y ions.
        </span>`
    }
}

document.querySelector("#hypothesis_choice").onchange = () => {
    updatePeptideMassFilterForFullCrossproduct()
    updateScoringModelOptionsFromHypothesisType()
}

MassShiftInputWidget($(".mass-shift-input-table"))
ajaxForm($("form#match-sample-form"), function(){
    var currentAction = GlycReSoft.getShowingLayer()
    GlycReSoft.setShowingLayer("home-layer")
    currentAction.dispose()
}, function(err){
    console.log(arguments)
})
materialFileInput()
updatePeptideMassFilterForFullCrossproduct()
updateScoringModelOptionsFromHypothesisType()
</script>
</div>
