<div class='glycopeptide-details-container'>
    <div class='row'>
        <div class='col s6'>
            <h6><b>Glycopeptide Sequence</b></h6>
            <div class='sequence-emphasis'>{{glycopeptide.glycopeptide_sequence|glycopeptide_string(long=True)}}</div>
            <b>Start Position</b>: {{glycopeptide.start_position}} <b>End Position</b>: {{glycopeptide.end_position}}
            <table>
                <thead>
                    <tr>
                        <th>Profile Score</th>
                        <th>Tandem Score</th>
                        <th>TDA q-value</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{"%0.4f"|format(glycopeptide.ms1_score)}}</td>
                        <td>{{"%0.4f"|format(glycopeptide.ms2_score)}}</td>
                        <td>{{"%0.4f"|format(glycopeptide.q_value)}}</td>
                        <td>{{"%0.4e"|format(glycopeptide.volume)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col s4'>
            <h6><b>Observed Mass (PPM Error)</b></h6>
            <span>{{glycopeptide.observed_mass}} ({{"%0.3e"|format(glycopeptide.ppm_error) if glycopeptide.ppm_error else " - "}})</span>
        </div>
    </div>
    <div class='row'>
        <div class='col s4'>
            <h6>Tandem Scans</h6>
            {% for spectrum_match in glycopeptide.spectrum_matches.filter_by(best_match=True) | sort(attribute='scan_time')%}
                {% if spectrum_match.best_match %}
                <div style='float:left;border:1px solid grey;margin:2px;text-align:center;'>
                    <div style='border-bottom:1px solid grey;border-collapse:collapse;padding:3px;'>{{spectrum_match.scan_time}}</div>
                    {{"%0.4f" | format(spectrum_match.scores['simple_ms2_score']) }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class='col s6'>
            {{glycopeptide | glycopeptide_match_logo | svg_plot(height=1, width=5)}}
        </div>
    </div>
    {% macro fragment_list(series) -%}
        {% with fragments=series%}
            {% include "tandem_glycopeptide_search/components/fragment_ion_detail.templ" %}
        {% endwith %}
    {%- endmacro %}
    {% macro oxonium_list(series) -%}
        {% with fragments=series%}
            {% include "tandem_glycopeptide_search/components/oxonium_ion_detail.templ" %}
        {% endwith %}
    {%- endmacro %}
    <div class='row' style='margin-bottom:0px;'>
        <div class='col s2'>
            <h6>Bare b Ions</h6>
        </div>
        <div class='col s2'>
            <h6>Glycosylated b Ions</h6>
        </div>
        <div class='col s2'>
            <h6>Bare y Ions</h6>
        </div>
        <div class='col s2'>
            <h6>Glycosylated y Ions</h6>
        </div>
        <div class='col s2'>
            <h6>Stub Ions</h6>
        </div>
    </div>
    <div style='min-height:40%;overflow-y: auto;'>
        <div class='row'>
            <div class='col s2'>
                {{ fragment_list(glycopeptide.bare_b_ions) }}
            </div>
            <div class='col s2'>
                {{ fragment_list(glycopeptide.glycosylated_b_ions) }}
            </div>
            <div class='col s2'>
                {{ fragment_list(glycopeptide.bare_y_ions) }}
            </div>
            <div class='col s2'>
                {{ fragment_list(glycopeptide.glycosylated_y_ions) }}
            </div>
            <div class='col s3'>
                {{ fragment_list(glycopeptide.stub_ions) }}
            </div>
        </div>
        <div class='row'>
            <div class='col s3'>
                <h6>Oxonium Ions</h6>
                {{ oxonium_list(glycopeptide.oxonium_ions) }}                
            </div>
        </div>
    </div>
</div>
