<div class='oxonium-ion-detial'>
    <table class='bordered oxonium-ion-table'>
        <thead>
            <tr>
                <th>Key</th>
                <th>Mass</th>
                <th>PPM Error</th>
                <th>Intensity</th>
            </tr>
        </thead>
        <tbody>
    {% for oxonium in fragments|sort(attribute='key') %}
        <tr>
            <th>{{oxonium.key}}</th>
            <td>{{"%0.3f"|format(oxonium.observed_mass)}}</td>
            <td>{{"%0.3e"|format(oxonium.ppm_error)}}</td>
            <td>{{"%0.2f"|format(oxonium.intensity)}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
