<h2>Add Sample To Workspace</h2>
<div class='row'>
    <form id='add-sample-form' action="/add_sample" class="col s12" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% include "components/add_sample.templ" %}
        <button class='btn'>Submit</button>
    </form>
    <script>
ajaxForm($("form#add-sample-form"))
materialFileInput()
    </script>    
</div>
