<h4 class='section-title'>Add Sample To Workspace</h4>
<div class='row'>
    <form id='add-sample-form' action="/add_sample" class="col s12" method="post"
          accept-charset="utf-8" enctype="multipart/form-data">
        <div class="row">
            <div class='col s4'>
                <div class="file-field input-field">
                    <span class="btn">
                        <span><span class="mdi mdi-flask mdi-36px" style="position: relative;top: 0.3em;"></span>Select MS Data File</span>
                        <input name='observed-ions-file' type="file"
                               accept="{{accepted_ms_formats}}" />
                    </span>
                    <input class="file-path validate" type="text"
                           placeholder="Please provide a file in an appropriate MS data format format" />
                    <input type='hidden' id='observed-ions-file-path' name='observed-ions-file-path' />
                </div>
            </div>
            <div class='col s4'>
                <div class="input-field">
                    <label for="sample-name">Sample Name</label>
                    <input id='sample-name' name="sample-name" type="text" class="validate"
                           placeholder="Provide a name to identify this sample" required>
                </div>
                <div id='configuration-presets-container' class=''>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s2'>
                <div class='input-field'>
                    <label for='maximum-charge-state'>Maximum Charge State</label>
                    <input type="number" id="maximum-charge-state" name="maximum-charge-state" required
                           value="12" step='1' placeholder="Maximum Charge State"
                           class='numeric-entry'>
                </div>
            </div>
            <div class='col s2'>
                <div class='input-field'>
                    <label for='start-time'>Start Processing Time</label>
                    <input type="number" id="start-time" name="start-time" required
                           min='0' value="0.0" step='any' placeholder="Start Processing Time"
                           class='numeric-entry'>
                </div>
            </div>
            <div class='col s2'>
                <div class='input-field'>
                    <label for='end-time'>End Processing Time</label>
                    <input class='numeric-entry-inf' type='text' value='Infinity' id='end-time' name='end-time'
                           pattern="\d+|\d+\.\d+|infinity|inf|Inf|INF|Infinity"
                           title="A number or the key word 'Infinity'" />
                </div>
            </div>
            <div class='col s2'>
                <div class="help-text">

                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col s4 tooltipped" data-position='bottom' data-tooltip='If checked, only features chosen for MS/MS will be fitted'>
                <input type="checkbox" id="msms-features-only" name="msms-features-only" />
                <label for='msms-features-only'>Fit MS/MS Features Only</label>
            </div>
            <div class='col s2 tooltipped' data-position='bottom' data-tooltip='Average each MS1 scan with this many scans before and after it to improve precrusor signal quality'>
                <div class='input-field'>
                    <label for='ms1-averaging'>MS1 Scan Averaging</label>
                    <input type="number" id="ms1-averaging" name="ms1-averaging" required
                           min='0' value="0" step='1' placeholder="MS1 Averaging"
                           class='numeric-entry'>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s6'>
                <div>
                    <h6 class='section-title'>MS<sup>1</sup> Parameters</h6>
                    <div class="col s5">
                        <div class='input-field'>
                            <label for='ms1-minimum-isotopic-score'>Minimum Isotopic Score</label>
                            <input type="number" id="ms1-minimum-isotopic-score" name="ms1-minimum-isotopic-score" required
                                   min='0' value="35" step='1' placeholder="Minimum Isotopic Score"
                                           class='numeric-entry'>
                        </div>
                        <div class='input-field'>
                            <label for='ms1-background-reduction'>Background Reduction</label>
                            <input type="number" id="ms1-background-reduction" name="ms1-background-reduction" required
                                   min='0' value="5" step='1' placeholder="Noise Reduction Scale"
                                           class='numeric-entry'>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class='input-field tooltipped' data-position='top' data-tooltip='A formula or name for the averagine used for MS1 scans'>
                            <label for='ms1-averagine'>Averagine</label>
                            <select id='ms1-averagine' name='ms1-averagine' class='browser-default'>
                                <option value='glycan' selected>Glycan</option>
                                <option value='glycopeptide'>Glycopeptide</option>
                                <option value='peptide'>Peptide</option>
                                <option value='permethylated-glycan'>Permethylated Glycan</option>
                                <option value='heparin'>Heparin</option>
                            </select>
                            <input type="text" id="ms1-averagine-custom" name="ms1-averagine-custom"
                                   placeholder="Custom Formula"
                                   style='font-size: 1em;text-align: center;'>
                        </div>
                        <div class='tooltipped' data-position='bottom' data-tooltip='The number of missing isotopic peaks to permit when filtering isotopic fits'>
                            <div class='input-field'>
                                <label for='missed-peaks'>Missed Peaks Permitted</label>
                                <input type="number" id="missed-peaks" name="missed-peaks" required
                                       min='0' value="1" step='1' placeholder="Missed Peaks Permitted"
                                       class='numeric-entry'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col s6'>
                <div>
                    <h6 class='section-title'>MS<sup>n</sup> Parameters</h6>
                    <div class="col s5">
                        <div class='input-field'>
                            <label for='msn-minimum-isotopic-score'>Minimum Isotopic Score</label>
                            <input type="number" id="msn-minimum-isotopic-score" name="msn-minimum-isotopic-score" required
                                   min='0' value="5" step='1' placeholder="Minimum Isotopic Score"
                                           class='numeric-entry'>
                        </div>
                        <div class='input-field'>
                            <label for='msn-background-reduction'>Background Reduction</label>
                            <input type="number" id="msn-background-reduction" name="msn-background-reduction" required
                                   min='0' value="0" step='1' placeholder="Noise Reduction Scale"
                                           class='numeric-entry'>
                        </div>
                    </div>
                    <div class="col s5" >
                        <div class='input-field tooltipped' data-position='top' data-tooltip='A formula or name for the averagine used for MSn scans'>
                            <label for='msn-averagine'>Averagine</label>
                            <select id='msn-averagine' name='msn-averagine' class='browser-default'>
                                <option value='glycan' selected>Glycan</option>
                                <option value='glycopeptide'>Glycopeptide</option>
                                <option value='peptide'>Peptide</option>
                                <option value='permethylated-glycan'>Permethylated Glycan</option>
                                <option value='heparin'>Heparin</option>
                            </select>
                            <input type="text" id="msn-averagine-custom" name="msn-averagine-custom"
                                   placeholder="Custom Formula"
                                   style='font-size: 1em;text-align: center;'>
                        </div>
                        <div class='tooltipped' data-position='bottom'
                             data-tooltip='The number of missing isotopic peaks to permit when filtering isotopic fits for MSn scans'>
                            <div class='input-field'>
                                <label for='msn-missed-peaks'>Missed Peaks Permitted</label>
                                <input type="number" id="msn-missed-peaks" name="msn-missed-peaks" required
                                       min='0' value="1" step='1' placeholder="Missed Peaks Permitted"
                                       class='numeric-entry'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class='btn' id='submit-btn'>
            Submit
        </button>
        <div id='mzml-upload-progress' class="progress" style='width: 115px;'>
            <div class="determinate" style="width: 0%;"></div>
        </div>
    </form>
    <script>

(function(){
    makePresetSelector($("#configuration-presets-container"))
    setSamplePreprocessingConfiguration(samplePreprocessingPresets[0].name)
    materialRefresh()
    materialFileInput()

    function transformForm(form) {
        if(GlycReSoft.isNativeClient()){
            console.log("Clearing file from upload payload")
            var inputFileField = $('#add-sample-form input[name="observed-ions-file"]')[0]
            inputFileField.value = ""
            console.log(inputFileField.files)
        } else {
            Materialize.toast("Please wait. Reading large files may take several minutes.", 16000)
        }
        return new FormData(form)
    }

    function uploadProgress(ev) {
        var percent = ev.loaded / ev.total * 100.
        $("#mzml-upload-progress .determinate").css("width", percent + '%')
    }

    function completeSubmission() {
        var currentAction = GlycReSoft.getShowingLayer()
        GlycReSoft.setShowingLayer("home-layer")
        currentAction.dispose()
    }

    $('#add-sample-form input[name="observed-ions-file"]').change(function(){
        if (this.files.length > 0){
            console.log(this.files[0].name, this.files[0].path)
            var sampleNameInput = $("#add-sample-form input[name='sample-name']")
            var sampleName = sampleNameInput.val()
            sampleName = this.files[0].name.split(".").slice(0, -1).join(".")
            sampleNameInput.val(sampleName)

            //This field will only have meaning when run in Electron
            if(GlycReSoft.isNativeClient()){
                $("#observed-ions-file-path").val(this.files[0].path)
            }
        // The user de-selected the file
        } else {
            sampleNameInput.val("")
            if(GlycReSoft.isNativeClient()){
                $("#observed-ions-file-path").val("")
            }
        }
    })
    ajaxForm($("form#add-sample-form"), completeSubmission, null, transformForm, uploadProgress)
})()
    </script>
</div>
