<div class='footer' style='text-align: right; margin-right: 30px;position: fixed; bottom: 10px; right: 0px;'>
    <small>GlycReSoft {{application_version}}</small>
    {% if has_native_client %}
        <small>Native Client</small>
    {% endif %}
    <small>
        (<a id='about-link' style='cursor: pointer;'
            onclick="fetch('/about').then(resp => resp.text().then(page => GlycReSoft.displayMessageModal(page)))">
            About
        </a>)
    </small>
</div>
