<div class='navbar-fixed'>
    <nav class='indigo lighten-2'>
        <div class="nav-wrapper">&nbsp;&nbsp;
            <a href="/" class="brand-logo" style='size:12px;'>GlycReSoft</a>
            <ul id="nav-mobile" class="right">
                <li><a id='preferences-link' style='padding-left:25px;padding-right:25px;'>Preferences</a></li>
            </ul>
        </div>
    </nav>
</div>
