<!DOCTYPE html5>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='dist/css/bundle.css') }}">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="{{ url_for('static',filename='dist/js/jquery.js') }}"></script>
    <script>
    /*
        Electron's multiple require mechanisms make loading libraries that try to play
        all sides of the dependency loading game a pain. This shim will handle the patching
        of the require path and resolve the external scripts that are known to cause trouble.
    */
    if(window.jQuery === undefined){
        if(require("electron") !== undefined){
            require('electron').remote.process.mainModule.paths.forEach(function(path) {
                require('module').globalPaths.push(path);
            });
            window.$ = window.jQuery = require("jquery")
            window.Hammer = require("hammerjs")
        }
    }    
    </script>
    <script src="{{ url_for('static',filename='dist/js/vendor-bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/js/lib-bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/js/app-bundle.js') }}"></script>
    <script>

$(function() {
    $(".side-nav").css('top', $('.nav-wrapper').innerHeight()).css("z-index", 3)
    $("#add-sample").click(function(event){
        event.preventDefault()
        setupAjaxForm("/add_sample", "#dialog-modal")
    })
    $("#preferences-link").click(function(event){
        event.preventDefault()
        setupAjaxForm("/preferences", "#dialog-modal")
    })

    var contentCenter = parseFloat($(".action-layer-container > :visible").css("margin-left"))
    console.log(contentCenter, (contentCenter * .75) + 'px')
    $(window).resize(function(){
        contentCenter = parseFloat($(".action-layer-container > :visible").css("margin-left"))
        console.log("Updated content left", contentCenter)
        if(isNaN(contentCenter)){
            contentCenter = 100.;
        }
        $(".toggle-sidebar").click()
        $(".toggle-sidebar").click()    
    })
    $(".toggle-sidebar").click(function(event){
        var handle = $(this)
        if(handle.attr('data-state') == 'open'){
            handle.removeClass("mdi-navigation-chevron-left")
            handle.addClass("mdi-navigation-chevron-right")
            $("#sidebar-content").hide()
            $("#left-sidebar").css("width", "40px")
            handle.attr('data-state', 'closed')
        } else {
            handle.removeClass("mdi-navigation-chevron-right")
            handle.addClass("mdi-navigation-chevron-left")
            
            $("#left-sidebar").css("width", (contentCenter * .75) + 'px')
            $("#sidebar-content").show()
            handle.attr('data-state', 'open')
        }
    })
});



    </script>
</head>
<body>
    {% include "header.templ" %}
    <div id='left-sidebar' class="side-nav fixed">
    <a class='toggle-sidebar mdi-navigation-chevron-left right' data-state='open'></a>
    <div id='sidebar-content'>    
        <div class='task-list-container'>
            <h6>Tasks</h6>
            <div class='divider'>
            </div>
            <ul>
            </ul>
        </div>
    </div>
    </div>
    <div class='action-layer-container'>
        <div id='home-layer' class='container'>
        {% block body %}
        {% endblock %}
        </div>        
    </div>
    <div id="message-modal" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
        </div>
    </div>
    <div id="dialog-modal" class="modal wide">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
        </div>
    </div>
<ul class='context-menu'>
</ul>
    {% include "footer.templ" %}
</body>
</html>
