<div class='row'>
    <div class='col s6'>
        <h4>{{hypothesis.name}}</h4>
        <span>ID: {{hypothesis.id}}</span>
    </div>
    {% include "components/mass_search.templ" %}
</div>
<div id='composition-table-container'>

</div>
<script>
viewGlycanCompositionHypothesis({{hypothesis.id}})
</script>
