<div class='row'>
    <div class='col s8'>
        <h5 class='section-title'>{{analysis.name}}</h5>
    </div>
</div>
<div id='glycopeptide-lcmsms-container'>
    <div class='row'>
        <div class='col s4'>
            <b>MS<sup>1</sup> Mass Accuracy:</b> {{(analysis.parameters.mass_error_tolerance * (10 ** 6))|round(2)}} PPM<br>
            <b>Grouping Tolerance:</b> {{(analysis.parameters.grouping_error_tolerance * (10 ** 6))|round(2)}} PPM<br>
            <b>MS<sup>n</sup> Mass Accuracy:</b> {{(analysis.parameters.fragment_error_tolerance * (10 ** 6))|round(2)}} PPM<br>
            <b>Minimum <code>q</code>-Value For Clustering:</b> {{analysis.parameters.psm_fdr_threshold}}<br>
        </div>
        <div class='col s4'>
            <b>Target Database:</b>
            <a class='user-provided-name'>{{analysis.hypothesis.name}}</a><br>
            <b>Sample Searched:</b>
            <a class='user-provided-name'>{{analysis.sample_run.name}}</a>
        </div>
        <div class='col s4'>
            <b>ID:</b> {{analysis.uuid}}<br>
            <a class='mdi mdi-content-save mdi-36px tooltipped' id='save-result-btn' style='cursor: pointer;'
               data-tooltip='Export Identifications' data-position='bottom'>
            </a>
        </div>
    </div>
    <div class='row'>
        <div class="col s5">
            {% include "view_glycopeptide_search/components/protein_table.templ" %}
        </div>
        <div class='col s6'>
            {# TODO
            This space could be used to hold other controls which don't fit directly into the tab view model. Options are:
            - Search for PSM by scan id
            - Interactive EIC graph builder
            - Search for glycopeptide by sequence
            #}
            <div class='row' id='search-by-scan-container'>
                <div class='col s8'>
                    <div class='input-field'>
                        <label for="search-by-scan-id">
                            Search by Scan ID
                        </label>
                        <input type="text" name="search-by-scan-id" class='tooltipped'
                            id='search-by-scan-id' data-tooltip="
                            Enter a Scan ID to check if it has been matched to
                            a glycopeptide"
                            />
                    </div>
                </div>
                <div class='col s2'>
                    <div id='search-by-scan-spinner' class='preloader-wrapper big active' style="display: none;">
                        <div class="spinner-layer spinner-blue-only hidden">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if has_fdr %}
                    <div class='col s3' id='view-fdr-figures-container'>
                        <button class='btn' id='view-fdr-figures'>
                            View FDR
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if has_retention_time_model %}
                    <div class='col s6' id='view-retention-time-model-figures-container'>
                        <button class='btn' id='view-retention-time-model-figures'>
                            View Retention Time Model
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class='col s6' id='open-spectrum-evaluation-container'>
                    <button class='btn' id='open-spectrum-evaluation'>
                        Evaluate Spectrum
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id='monosaccharide-filters'>
    </div>
    <div class='row' id='glycopeptide-lcmsms-content-container'>
    </div>
    <div id="glycopeptide-detail-modal" class="modal modal-fixed-footer wide">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
        </div>
    </div>
</div>
<script>
    controller = new GlycopeptideLCMSMSSearchController("{{analysis.uuid}}", "{{analysis.hypothesis.parameters.original_uuid}}", null)
</script>