<div class='glycopeptide-details-container'>
    <div class='row'>
        <div class='col s7' data-coverage="{{match.compute_coverage()}}">
            <h6><b>Glycopeptide Sequence</b></h6>
            <div class='sequence-emphasis'>{{glycopeptide.structure|glycopeptide_string(long=True)}}</div>
            <b>Start Position</b>: {{glycopeptide.start_position + 1}}
            <b>End Position</b>: {{glycopeptide.end_position + 1}}
            <table>
                <thead>
                    <tr>
                        <th>Profile Score</th>
                        {% if glycopeptide.is_multiscore() %}
                            <th>Total <br/> Score</th>
                            <th>Peptide <br/> Score</th>
                            <th>Glycan <br/> Score</th>
                            <th>Glycan <br/> Coverage</th>
                            <th>Total <br/> q-value</th>
                            <th>Peptide <br/> q-value</th>
                            <th>Glycan <br/> q-value</th>
                        {% else %}
                            <th>Tandem Score</th>
                            <th>TDA q-value</th>
                        {% endif %}
                        <th>Volume</th>
                        <th>Apex Time</th>
                        {% if has_retention_time_model %}
                            <th>RT Score (Interval)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{"%0.4f"|format(glycopeptide.ms1_score)}}</td>
                        {% if glycopeptide.is_multiscore() %}
                            <td>{{"%0.3f" % glycopeptide.ms2_score}}</td>
                            <td>{{"%0.3f" % glycopeptide.score_set.peptide_score}}</td>
                            <td>{{"%0.3f" % glycopeptide.score_set.glycan_score}}</td>
                            <td>{{"%0.3f" % glycopeptide.score_set.glycan_coverage}}</td>
                            <td>{{"%0.3f" % glycopeptide.q_value}}</td>
                            <td>{{"%0.3f" % glycopeptide.q_value_set.peptide_q_value}}</td>
                            <td>{{"%0.3f" % glycopeptide.q_value_set.glycan_q_value}}</td>
                        {% else %}
                            <td>{{"%0.4f"|format(glycopeptide.ms2_score)}}</td>
                            <td>{{"%0.4f"|format(glycopeptide.q_value)}}</td>
                        {% endif %}
                        <td>{{"%0.4e"|format(glycopeptide.total_signal)}}</td>
                        {% if glycopeptide.chromatogram is not none %}
                            <td>{{"%0.3f"|format(glycopeptide.chromatogram.apex_time)}}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if has_retention_time_model %}
                            {% if retention_time_score is not none%}
                                <td>{{"%0.3f" % retention_time_score}} ({{"%0.2f" % retention_time_interval[0]}}-{{"%0.2f" % retention_time_interval[1]}})</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <div class='mass-shift-signal-fraction-container'>
                {% if glycopeptide.chromatogram is not none %}
                    <b>Adduct Signal Fractions</b>
                    <ul class='mass-shift-signal-fraction-list' style='margin-top:0px;'>
                    {% for mass_shift, fraction in glycopeptide.chromatogram.mass_shift_signal_fractions().items()|sort(attribute=1) %}
                        <li class='mass_shift-signal-fraction-item' style='margin-left:10px;'>
                            <b>{{mass_shift.name}}</b>: {{"%0.4e" % fraction}}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Adduct: {{match.mass_shift.name}}
                {% endif %}
            </div>
        </div>
        <div class='col s4'>
            <b>Observed Mass (PPM Error)</b>:
            {% if glycopeptide.chromatogram %}
                <span>{{"%0.3f" % glycopeptide.chromatogram.weighted_neutral_mass}}
            {% else %}
                <span>{{"%0.3f" % match.scan.precursor_information.neutral_mass}}
            {% endif %}
                  ({{"%0.3e"|format(match.precursor_mass_accuracy())}})</span> <br>
            <b>Spectrum Matches</b>:
            <span>
                {{glycopeptide.spectrum_matches | length}}</span><br>
            <b>Charge States</b>:
                {{glycopeptide.chromatogram.charge_states | join(", ")}}<br>
            <div>
                {% if glycopeptide.localizations %}
                <table class='glycopeptide-facet'>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Modification</th>
                            <th>Localization<br />Probability</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loc in glycopeptide.localizations %}
                        <tr>
                            <td>
                                {{loc.position}}
                            </td>
                            <td>
                                {{loc.modification}}
                            </td>
                            <td>
                                {{("%0.3g" % loc.score) if loc.score is not none else "-"}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div id='chromatogram-container' class="col s6">
            {{chromatogram_plot}}
        </div>
        <div id='best-spectrum-match-container' class="col s6">
            {{spectrum_plot}}
        </div>
    </div>
    <div class='row'>
        <div class='col s6'>
            {{sequence_logo_plot}}
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Scan ID</th>
                        <th class='center-align'>Scan Time</th>
                        <th class='center-align'>Score</th>
                        <th class='center-align'>Precursor Charge</th>
                        <th>Precursor ID</th>
                    </tr>
                </thead>
                <tbody>
                {% for scan in matched_scans|sort(attribute='scan_time')  %}
                    <tr data-intensity="{{scan.precursor_information.intensity}}"
                        data-neutral-mass="{{scan.precursor_information.neutral_mass}}">
                        {% if scan.id|length > 30 %}
                            <td class='glycopeptide-detail-matched-scan-id'>
                                <small>{{scan.id}}</small>
                            </td>
                        {% else %}
                            <td class='glycopeptide-detail-matched-scan-id'>
                                {{scan.id}}
                            </td>
                        {% endif %}
                        <td class='glycopeptide-detail-matched-scan-time center-align'>{{"%0.2f minutes" % scan.scan_time}}</td>
                        <td class='glycopeptide-detail-matched-scan-score center-align'>{{"%0.2f" % scan.score}}</td>
                        <td class='glycopeptide-detail-matched-scan-charge center-align'>{{scan.precursor_information.charge}}</td>
                        {% set precursor_id = scan.precursor_information.precursor_scan_id %}
                        {% if precursor_id|length > 30 %}
                            <td class='glycopeptide-detail-matched-precursor'>
                                <small>{{precursor_id}}</small>
                            </td>
                        {% else %}
                            <td class='glycopeptide-detail-matched-precursor'>
                                {{precursor_id}}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col s5'>
            <h5>Fragment Matches</h5>
            <table>
                <thead>
                    <tr>
                        <th>Fragment Name</th>
                        <th class='center-align'>m/z</th>
                        <th class='center-align'>Intensity</th>
                        <th class='center-align'>Charge</th>
                    </tr>
                </thead>
                <tbody>
                {% for pair in match.solution_map|sort_peak_match_pairs %}
                    <tr>
                        {% if pair.fragment.name | length < 25 %}
                            <td><b><span class='fragment-name'>{{pair.fragment.name}}</span></b></td>
                        {% else %}
                            <td><b><span class='fragment-name'><small>{{pair.fragment.name}}</small></span></b></td>
                        {% endif %}
                        <td class='center-align'>{{"%0.3f" % pair.peak.mz}} ({{"%0.2e" % (
                            (pair.peak.neutral_mass - pair.fragment.mass) / pair.fragment.mass)}})</td>
                        <td class='center-align' data-score="{{pair.peak.score}}">{{"%0.3f" % pair.peak.intensity}} ({{"%0.2f%%" % (
                            pair.peak.intensity * 100.0 / max_peak)}})</td>
                        <td class='center-align'>{{pair.peak.charge}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col s6'>

        </div>
    </div>
</div>