<div style='overflow-x: scroll;width: 100%;'>
<table class='bordered glycopeptide-match-table display-table' style='width: 100%;'>
    <thead class='glycopeptide-match-header' >
        <tr>
            <th class='narrow'>Observed<br>Mass</th>
            <th class='very-very-wide'>Sequence</th>
            <th class='narrow'>Tandem<br>Score</th>
            <th class='narrow'>q-value</th>
            <th class='narrow'>Profile<br>Score</th>
            <th>Volume</th>
            <th class='narrow'>Protein<br>Coordinates</th>
            <th class='narrow'>Tandem<br>Scans</th>
            <th class='narrow'>Start Time</th>
            <th class='narrow'>Apex Time</th>
            <th class='narrow'>End Time</th>
        </tr>
    </thead>
    <tbody class='glycopeptide-match-table-body' style='height:450px;'>
    {% for gpm in paginator.items %}
        <tr class='glycopeptide-match-row' data-target="{{gpm.id}}">
            {% if gpm.chromatogram %}
                <td class='narrow'>{{"%0.4f"|format(gpm.chromatogram.weighted_neutral_mass)}}</td>
            {% else %}
                <td class='narrow'>{{"%0.4f"|format(
                    gpm.tandem_solutions[0].scan.precursor_information.neutral_mass)}}
                </td>
            {% endif %}
            <td class='very-very-wide'>{{gpm.structure | glycopeptide_string}}</td>
            <td class='narrow'>{{"%0.4f"|format(gpm.ms2_score)}}</td>
            <td class='narrow'>{{"%0.3f"|format(gpm.q_value) if gpm.q_value != 0.0 else 0.0}}</td>
            <td class='narrow'>{{"%0.4f"|format(gpm.ms1_score)}}</td>
            <td>{{"%0.5e"|format(gpm.total_signal)}}</td>
            <td class='narrow' data-start="{{gpm.start_position}}" data-end="{{gpm.end_position}}">
                {{gpm.start_position}} - {{gpm.end_position}}
            </td>
            <td class='narrow'>{{gpm.spectrum_matches|length}}</td>
            {% if gpm.chromatogram %}
                <td class='narrow'>{{"%0.4f" % gpm.chromatogram.start_time}}</td>
                <td class='narrow'>{{"%0.4f" % gpm.chromatogram.apex_time}}</td>
                <td class='narrow'>{{"%0.4f" % gpm.chromatogram.end_time}}</td>
            {% else %}
                <td class='narrow'>-</td>
                <td class='narrow'>-</td>
                <td class='narrow'>-</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<!-- On narrow screens, the above table may appear to have two horizontal scroll bars -->
<ul class='pagination'>
    <li class={{"disabled" if paginator.page == 1 else ""}}>
        <a class='previous-page'><i class="material-icons">chevron_left</i></a>
    </li>
    {% for page in paginator.iter_pages() %}
        {% if page is not none %}
            <li class='{{"waves-effect" if page != paginator.page else "active teal"}}'>
                <a data-index="{{page}}">{{page}}</a>
            </li>
        {% else %}
            <li> ... </li>
        {% endif %}
    {% endfor %}
    <li class={{"disabled" if paginator.page == paginator.pages else ""}}>
        <a class='next-page'><i class="material-icons">chevron_right</i></a>
    </li>
</ul>