<table class='bordered protein-match-table'>
    <thead class='protein-match-header'>
        <tr>
        <th>
            Protein Name
        </th>
        <th>
            Glycopeptides<br>Matched
        </th>
        <th>
            Glycosylation<br>Site Count
        </th>
        </tr>
    </thead>
    <tbody class='protein-match-table-body' style='max-height:250px;'>
    {% for protein_row in protein_table %}
        <tr class='protein-match-row' data-target="{{protein_row.protein.id}}">
            <td>
                <small>{{protein_row.protein.name}}</small>
            </td>
            <td>
                {{protein_row.identified_glycopeptide_count}}
            </td>
            <td>
                {{protein_row.protein.glycosylation_sites|length}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
