<div class='hypothesis-sample-matchs'>
    <div class='collection'>
        {% for hsm in hypothesis_sample_matches %}
        <p class='collection-item'>
            {{hsm.name}}
        </p>
        {% endfor %}
    </div>
</div>
