<div>
    <select name="{{select_name}}" class='enzyme-selection browser-default' multiple="true" style="height:13em;">
        <option>caspase 3</option>
        <option>caspase 2</option>
        <option>caspase 1</option>
        <option>factor xa</option>
        <option>caspase 7</option>
        <option>caspase 6</option>
        <option>caspase 5</option>
        <option>caspase 4</option>
        <option>glutamyl endopeptidase</option>
        <option>glu-c</option>
        <option selected>trypsin</option>
        <option>caspase 9</option>
        <option>caspase 8</option>
        <option>granzyme b</option>
        <option>enterokinase</option>
        <option>cnbr</option>
        <option>proline endopeptidase</option>
        <option>arg-c</option>
        <option>formic acid</option>
        <option>chymotrypsin high specificity</option>
        <option>caspase 10</option>
        <option>bnps-skatole</option>
        <option>thermolysin</option>
        <option>proteinase k</option>
        <option>thrombin</option>
        <option>lysc</option>
        <option>asp-n</option>
        <option>ntcb</option>
        <option>staphylococcal peptidase i</option>
        <option>iodosobenzoic acid</option>
        <option>pepsin ph1.3</option>
        <option>pepsin ph2.0</option>
        <option>clostripain</option>
        <option>hydroxylamine</option>
        <option>chymotrypsin low specificity</option>
        <option>alpha-lytic protease</option>
        <option>none</option>
    </select>
</div>
